body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    


}


.login-form {
    padding: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}





h1{
   font-family: 'Courier New', Courier, monospace;
}


.container {
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out, background-size 2s ease-in-out; /* Smooth transition */
}

/* On hover */
.container:hover {
    box-shadow: 3px 3px 20px black;
    background-image: url('bg.png');
    background-size: cover;
}
body{
    background-image: url('bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
